.empty-state-posts-parrent {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #2c2891;
  padding: 50px 0px;
  border-radius: 10px;
  background-color: rgb(240, 224, 224);

  .first-wording {
    margin-bottom: 8px;
  }

  .second-wording {
    font-size: 14px;
    font-weight: 300;
  }
}
