.forgot-password {
  width: 100%;
  min-height: 100vh;
  background-color: #f0f2f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;

  @media only screen and (min-width: 1024px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .forgot-password-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;

    @media only screen and (min-width: 1024px) {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    .forgot-password-left {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 16px;

      @media only screen and (min-width: 1024px) {
        width: 400px;
        margin-bottom: 0px;
      }

      .forgot-password-logo {
        font-size: 28px;
        font-weight: 700;
        color: #2c2891;
        margin-bottom: 10px;
        text-align: center;

        @media only screen and (min-width: 1024px) {
          font-size: 50px;
          font-weight: 800;
          text-align: left;
        }
      }

      .forgot-password-description {
        font-size: 18px;
        margin-right: 0px;
        text-align: center;

        @media only screen and (min-width: 1024px) {
          font-size: 24px;
          margin-right: 60px;
          text-align: left;
        }
      }
    }

    .forgot-password-right {
      width: 100%;

      @media only screen and (min-width: 1024px) {
        width: fit-content;
      }

      .forgot-password-box {
        width: 100%;
        height: 100%;
        padding: 12px;
        background-color: white;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 4px;
        -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
        box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);

        @media only screen and (min-width: 1024px) {
          width: 400px;
          height: fit-content;
          padding: 20px;
          border-radius: 10px;
          -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
          box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
        }

        .forgot-password-button {
          width: 100%;
          height: 40px;
          border-radius: 10px;
          border-style: none;
          background-color: #2c2891;
          color: white;
          font-size: 14px;
          font-weight: 500;
          margin-top: 10px;
          cursor: pointer;

          &.loading {
            background-color: rgb(191, 190, 190);
            color: #2c2891;
          }

          @media only screen and (min-width: 1024px) {
            height: 50px;
            padding: 10px 0;
            font-size: 20px;
          }
        }

        .forgot-password-button-loading {
          width: 100%;
          height: 40px;
          border-radius: 10px;
          border-style: none;
          background-color: #2c2891;
          color: white;
          font-size: 14px;
          font-weight: 500;
          margin-top: 10px;
          cursor: pointer;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;

          @media only screen and (min-width: 1024px) {
            height: 50px;
            padding: 10px 0;
            font-size: 20px;
          }
        }
      }
    }
  }
}
