.post-comment-text {
  font-size: 10px;
  cursor: pointer;
  color: black;

  &:hover {
    color: rgb(202, 9, 202);
  }

  @media only screen and (min-width: 1024px) {
    font-size: 12px;
  }

  .comment-and-counter-wrapper {
    display: flex;
    align-items: center;

    .comment-icon {
      width: 24px;
      height: 24px;
      margin-right: 5px;
      cursor: pointer;
    }
  }
}
