.profile-right-top {
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: 1024px) {
    background-color: white;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    border-radius: 10px;
    margin: 10px 10px 0px 0px;
  }

  .profile-cover {
    height: 320px;
    position: relative;

    .profile-cover-img {
      width: 100%;
      height: 250px;
      object-fit: cover;
      object-fit: fill;

      @media only screen and (min-width: 1024px) {
        border-radius: 10px 10px 0 0;
      }
    }

    .profile-user-avatar {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      border: solid 3px white;
      object-fit: cover;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 10px;
      margin: auto;
    }
  }

  .profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    .profile-info-name {
      font-size: 24px;
    }

    .profile-info-desc {
      font-weight: 300;
    }
  }
}
