.host-vans {
  padding: 20px;
  min-height: 100vh;

  .host-vans-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: larger;
    font-weight: bolder;
    margin-bottom: 20px;
  }

  .host-vans-card-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    @media only screen and (min-width: 1024px) {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      row-gap: 10px;
      column-gap: 10px;
    }

    .host-van-card-item {
      border: solid 1px black;
      border-radius: 10px;
      padding: 10px;
      cursor: pointer;
      width: 100%;
      margin-bottom: 10px;

      @media only screen and (min-width: 1024px) {
        margin-bottom: 0px;
        width: 180px;
        height: 160px;
      }
    }
  }
}
