* {
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 1024px;

  @media only screen and (min-width: 480px) {
    width: 320px;
    margin-right: auto;
    margin-left: auto;
  }

  @media only screen and (min-width: 1024px) {
    width: 100%;
  }
}

.content-container {
  width: 100%;
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;

  @media only screen and (min-width: 480px) {
    width: 320px;
  }

  @media only screen and (min-width: 1024px) {
    width: 100%;
  }
}
