.main-vans-home {
  padding: 20px;
  min-height: 100vh;

  .main-vans-home-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: larger;
    font-weight: bolder;
    margin-bottom: 20px;
  }
}
