.host-layout {
  width: 100%;
  min-height: 100vh;
  background-color: #e8eff9;

  .host-layout-header {
    padding: 0px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;

    .host-layout-nav {
      background-color: rgb(246, 238, 223);
      padding: 10px;
      border-radius: 10px;
      width: 300px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
}
