.required-login-message {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 6px 0;
  background-color: rgb(240, 190, 198);
  border-radius: 8px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}
